---
description: Vérification des courriers électroniques - Documents Marketo - Documentation du produit
title: Vérification des emails
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Vérification des emails {#email-verification}

Les abonnements à Adobe Marketo Engage requièrent que tous les utilisateurs non-API vérifient uniquement leur adresse électronique. Les utilisateurs de l’authentification unique (SSO) verront automatiquement leur email vérifié lorsque leur abonnement est activé avec la vérification d’email.

**Invitation d’utilisateur**

Lorsqu’un administrateur invite un utilisateur, celui-ci est automatiquement vérifié lorsqu’il clique sur le lien d’invitation. Les utilisateurs disposant d’une authentification unique sont automatiquement vérifiés.

**Modification d’une adresse électronique**

Lorsque l’adresse électronique d’un utilisateur est modifiée, elle n’est plus vérifiée. Un email leur sera envoyé pour leur permettre de vérifier à nouveau. Les utilisateurs peuvent renvoyer manuellement cet email en cliquant sur **Vérification du renvoi**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Utilisateurs et rôles**

Dans Admin > Utilisateurs et rôles, la colonne État de l’email indique l’état de vérification de chaque utilisateur.

![](assets/email-verification-3.png)

Pour renvoyer un email de vérification à un utilisateur non vérifié, sélectionnez simplement son enregistrement et cliquez sur le bouton **Vérifier le courrier électronique** bouton .
