---
description: Vérification des courriers électroniques - Documents Marketo - Documentation du produit
title: Vérification des emails
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 921c3279b53bc18ac753b1e3f0672a70fe11abe7
workflow-type: tm+mt
source-wordcount: '11'
ht-degree: 9%

---

# Vérification des emails {#email-verification}

Texte