---
description: Vérification des courriers électroniques - Documents Marketo - Documentation du produit
title: Vérification des emails
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Vérification des emails {#email-verification}

Je pense que vous avez dit que nous allons juste créer une nouvelle page qui couvre la vérification des emails pour les utilisateurs

Invitation d’un utilisateur Lorsqu’un administrateur invite un utilisateur, aucune modification n’est apportée à l’interface utilisateur ni à l’expérience de l’utilisateur Lorsque l’utilisateur clique sur le lien d’invitation, son email est automatiquement vérifié Les utilisateurs avec SSO sont automatiquement vérifiés.

L’écran Compte d’utilisateur affiche l’adresse électronique comme vérifiée Lorsque l’adresse électronique est mise à jour, l’interface utilisateur indique que l’adresse électronique du compte n’est pas vérifiée et que l’adresse électronique est envoyée (voir l’adresse électronique en pièce jointe).

Admin - Page Utilisateurs et rôles Nouvelle colonne présentant l’état de vérification d’un utilisateur Nouveau bouton pour déclencher à nouveau la vérification par e-mail de l’utilisateur.

MyMarketo Lorsque l’utilisateur qui dispose d’un courrier électronique non vérifié se connecte, il doit voir une bannière sur la page Mon Marketo (UNIQUEMENT).
